<?xml version='1.0' encoding='utf-8'?>
<widget 
id="com.rjfun.admobdemo" 
version="1.0.20141225" 
xmlns="http://www.w3.org/ns/widgets"
xmlns:gap="http://phonegap.com/ns/1.0"
>
    <name>JumpRope</name>
    
    <description>DemoApp for AdMob</description>
    <author email="rjfun.mobile@gmail.com" href="http://rjfun.github.io/">RjFun</author>
    <content src="index.html" />
    <access origin="*" />

    <preference name="permissions" value="none"/>
    <gap:plugin name="cordova-plugin-admobpro" source="npm" />

   
</widget>
